build*
.waf*
waf
.lock*
.gcov
graphs
tmp
.wasm
benchmarks/db_bench_browser.js
benchmarks/.playwright-profile/Default
benchmarks/db_bench_browser.wasm
benchmarks/profile.cpuprofile
benchmarks/trace.json
benchmarks/profile_browser.mjs
js/leaves.js
js/leaves_replication.js
js/leaves.wasm
tests/ws_replication/node_modules
*.gcov
*.lvs*
.cache